<%- include('../partials/header'); %>
  <header>
    <span>
      <h4>Sort by: </h4> 
      <p>Title</p><button id="title-asc">&#9652;</button> <button id="title-desc">&#9662;</button>
      <p>Rating</p><button id="rating-asc">&#9652;</button> <button id="rating-desc">&#9662;</button>
      <p>Last updated</p><button id="updated-asc">&#9652;</button> <button id="updated-desc">&#9662;</button>
    </span>
    <span>
      <form class="custom util search form">
        <label for="searchText">Search all tips in this category:</label>
        <input type="text" name="searchText">
        <button>Go!</button>
      </form>
    </span>
  </header>
  <main>
    <% if (data.results.length === 0) { %>
      <br><br>
      <span><h4>Sorry, there seem to currently be no tips matching your search criteria.</h4></span>
    <% } else { %>
      <% for (tip of data.results) { %>
        <div>
          <table>
            <tr><td><%= tip.title %></td></tr>
            <tr><td>Category: <%= tip.category %></td></tr>
            <% if (tip.averageRating) { %>
              <tr><td>Average rating: <%= tip.averageRating %></td></tr>
            <% } %>
          </table>
          <a class="btn" href="<%= path %>/<%= tip._id %>/<%= tip.slug %>">Read tip</a>
        </div>
        <br><br>
      <% } %>
      <%- include('../partials/pagination'); %>
    <% } %>
    <br><br><br>
    <span><a class="btn" href="/tips-overview">To the guitar tips overview</a></span>
  </main>

  <script type="module" src="/js/tipScripts/getTips.js"></script>
<%- include('../partials/footer'); %>